<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BookArchive.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2C7EA30422F01F1D0010A08D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C7EA31822F01F240010A08D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C7EA32322F01F240010A08D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
